/*Estilo Principal*/
body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #ffeaf3; /* fondo rosa pastel suave */
    margin: 0;
    padding: 0;
    color: #333;
}

.contenedor, 
.contenedor-login,
.contenedor-productos,
.contenedor-editar  {
    max-width: 600px;
    margin: 60px auto;
    background-color: #ffffff;
    padding: 30px 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.contenedor-product{
   max-width: 800px; 
   margin: 100px auto;
}
.acciones-usuarios {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}
/*Encabezados*/
h1, h2, h3, h4 {
    color: #a94482;
    margin-bottom: 20px;
}

/*Formularios*/
form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
select,
textarea {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 15px;
    border: 1px solid #deb5cc;
    border-radius: 4px;
    background-color: #fff9fb;
    font-size: 1em;
}

/*Botones*/
input[type="submit"],
button,
.button {
    background-color: #e48fb2;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

input[type="submit"]:hover,
button:hover,
.button:hover {
    background-color: #d17296;
}

.botones-login {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.botones-login form,
.botones-login button {
    margin: 0;
}

/*Tablas*/
table {
    width: 95%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    overflow: hidden;
}

th, td {
    border: 1px solid #eccbe1;
    padding: 12px 14px;
    text-align: left;
    vertical-align: middle;
}

th {
    background-color: #fce4ec;
    color: #7a2d5c;
    font-weight: 600;
}

tr:hover {
    background-color: #fff7fa;
}

/*Galería de imágenes*/
.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 15px;
}

.galeria label {
    text-align: center;
    cursor: pointer;
}

.galeria img {
    width: 100px;
    border: 2px solid transparent;
    border-radius: 4px;
    padding: 4px;
    transition: border-color 0.2s;
}

.galeria input[type="radio"]:checked + img {
    border-color: #bb1b5e;
}

/*Enlaces*/
a {
    color: #a94482;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
